{% extends "baseTemplate.html" %}

{% block content %}
<body class="bg-light">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card" style="margin-top: 50px;">
                    <div class="card-header">
                        <h1 class="card-title">Kiểm tra từ vựng</h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Nhập từ tiếng anh tương ứng của từ dưới đây:</p>
                        <p class="card-text">{{ random_entry.vietnam }}</p>
                        
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="text-center mt-3">
                                <input type="submit" class="btn btn-primary" value="Kiểm tra">
                            </div>
                        </form>
<!-- Thêm nút Đổi từ vào form -->
<form method="post" action="{% url 'change_word' %}">
    {% csrf_token %}
    <input type="submit" class="btn btn-secondary" value="Đổi từ">
</form>

                        {% if feedback %}
                            <div class="alert alert-info mt-3">{{ feedback }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}