body {
    background-color: #f1f1f1;
}



.search-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
}

.search-box {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-btn {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 24px;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    background-color: #357ae8;
}

#suggestion-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#suggestion-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s;
}

#suggestion-list li:last-child {
    border-bottom: none;
}

#suggestion-list li:hover {
    background-color: #357ae8;
}
